{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Investing For Youths - OdetoCode2020">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Investing For Youths - OdetoCode2020</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/core-img/favicon.ico' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>
  <!-- Main Header Start -->
  <div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="dentoNav">

          <!-- Logo -->
          <a class="nav-brand" href="home.html"><img src="./img/core-img/logo.png" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">

            <!-- Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav">
                <li><a href="/">Home</a></li>
                <li><a href="risk.html">Risk Analysis</a></li>
                <li><a href="guide.html">Beginner's Guide</a></li>
                <li><a href="news.html">Financial News</a></li>
              </ul>
            </div>
            <!-- Nav End -->
          </div>

        
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url(img/bg-img/12.jpg);">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Beginner's Guide to Investing</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Beginner's Guide</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- **CAN EDIT FROM HERE WEIJIE** -->

  <!-- *****Blog Area Start ***** -->
  <section class="dento-blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="https://blog.seedly.sg/ultimate-personal-finance-guide-to-investing-singapore/">
                <img src="{% static 'website/img/bg-img/img1.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://blog.seedly.sg/ultimate-personal-finance-guide-to-investing-singapore/ " class="post-title">Your Ultimate Guide to Investing in Singapore</a>
              <p>With the core inflation* rate at 1.9% in Singapore on average, investing sounds more attractive than the meagre 0.05% interest earned in your savings account. ...</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 03 Aug 2020</a>
                <!-- <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a> -->
              </div>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="https://www.investopedia.com/terms/m/modernportfoliotheory.asp">
                <img src="{% static 'website/img/bg-img/img2.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://www.investopedia.com/terms/m/modernportfoliotheory.asp" class="post-title">Modern Portfolio Theory (MPT)</a>
              <p>Modern portfolio theory (MPT) is a theory on how risk-averse investors can construct portfolios to maximize expected return based on a given level of market risk. Harry Markowitz pioneered this theory in his paper "Portfolio Selection," which was published in the Journal of Finance in 1952. He was later awarded a Nobel Prize for his work on modern portfolio theory.</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 17 Jul 2020</a>
                <!-- <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a> -->
              </div>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="https://dollarsandsense.sg/beginners-guide-start-investing-singapore/">
                <img src="{% static 'website/img/bg-img/img3.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://dollarsandsense.sg/beginners-guide-start-investing-singapore/" class="post-title">[Beginners’ Guide] How To Start Investing In Singapore</a>
              <p>Ready to start investing? Whether its stocks, bonds, exchange-traded funds, or REITs, here’s all you need to know about investing.</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 20 Apr 2020</a>
                <!-- <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a> -->
              </div>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="https://www.redbrick.sg/blog/heres-why-you-should-start-diversifying-your-portfolio/">
                <img src="{% static 'website/img/bg-img/img4.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://www.redbrick.sg/blog/heres-why-you-should-start-diversifying-your-portfolio/" class="post-title">Here's why you should start diversifying your portfolio</a>
              <p>Diversification is the process of spreading your investments around to more than one type of assets. Essentially, it is to “place your eggs into different baskets”. This practice has one important role in your investment strategy: to reduce risk.</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 17 Jan 2020</a>
                <!-- <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a> -->
              </div>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="https://www.moneysense.gov.sg/articles/2018/10/managing-investment-risk">
                <img src="{% static 'website/img/bg-img/img5.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://www.moneysense.gov.sg/articles/2018/10/managing-investment-risk" class="post-title">Managing investment risk</a>
              <p>Know your risk appetite and learn 3 basic investment strategies you can use when investing: diversification, asset allocation and dollar-cost averaging.</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 26 Oct 2018</a>
                <!-- <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a> -->
              </div>
            </div>
          </div>

          <!-- Pagination -->
          <nav class="dento-pagination mb-100">
            <ul class="pagination">
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </nav>
        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <!-- Single Widget Area -->
            <div class="single-widget-area search-widget">
              <form action="#" method="post">
                <input type="search" name="search" class="form-control" placeholder="Search ...">
                <button type="submit"><i class="icon_search"></i></button>
              </form>
            </div>

            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Categories</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#">Beginner's Tutorials</a></li>
                <li><a href="#">General Investment Tips</a></li>
                <li><a href="#">Market Information</a></li>
                <!-- <li><a href="#">Kids Care Dental</a></li>
                <li><a href="#">Healthy Smiles, Inside &amp; Out</a></li> -->
              </ul>
            </div>

         

            <!-- Single Widget Area -->
            <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100" src="./img/bg-img/adds.png" alt=""></a>
            </div> 

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- *****Blog Area End ***** -->

  
    <!-- **CAN EDIT UNTIL HERE WEIJIE** -->

    <!-- Copywrite Area -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copywrite-content">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <!-- jQuery js -->
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'website/js/default-assets/active.js' %}"></script>

</body>

</html>